section {
	height: 500px;
	width: 50%;
	margin: auto;
	padding: 50px;
	text-align: center;
	display: flex;
}

section .profile-img {
	width: 20%;
	height: 80%;
	border-radius: 50%;
}

#informations {
	margin: auto;
}